[Desktop Entry]
Version=2.0
Type=Application
Name=PrusaSlicer
Icon=prusa-slicer
Exec=prusa-slicer %F
Keywords=slice;3D;printer;convert;gcode;stl;obj;amf;SLA
StartupNotify=false
StartupWMClass=prusa-slicer
MimeType=application/sla;model/x-wavefront-obj;model/x-geomview-off;application/x-amf;
Categories=Development;Engineering;
